.container {
    border: 1px solid #373150;
    background: white;
    width: 640px;
    height: 400px;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.clear-both {
    clear: both;
}

.tab-row {
    height: 15%;
}

.category-row {
    border-top: 1px solid #373150;
    border-bottom: 1px solid #373150;
    height: 65%;
}

.category-select-column {
    width: 20%;
    height: 100%;
    float: left;
}

.category-checkbox-column {
    width: 79%;
    height: 100%;
    float: left;
    border-left: 1px solid #262237;
}

.selected-row {
    clear: both;
    height: 20%;
}

.selected-category {
    display: flex;
    float: left;
    width: 65%;
}

.btn-container {
    float: right;
    width: 30%;
}

.main-select-container {
    width: 33%;
    height: 100%;
    border: 1px solid #262237;
    float: left;
}

.main-select-img {
    height: 100%;
    margin-left: 10px;
    float: left;
}

.main-select-text {
    margin-left: 20px;
    padding: 1% 0%;
    float: left;
}

.detail-select-container {
    background-color: #d7d6dc;
    padding: 5px;
}

.detail-select-container p {
    margin: 0px;
    float: left;
}
.Arrow {
    float: right;
}