@charset "utf-8";

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }

body{
    font-family: 'Poppins', sans-serif;
    font-size: 100%;
    line-height: 1.5;
    background-color: #f4f4f4; 
}

h1{
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 1000;
    white-space: nowrap;
    color: black;
    position:relative;
    bottom: 320px;
    left: 75px;
}

.container {
    position: relative;
    width: 1753px;
    display: flex;
    align-items: center; 
    justify-content: flex-start;
    background-color: #fff;
}

.rectangle1, .rectangle2, .rectangle3, .rectangle4{
    position:relative;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 5px;
    top: 50px;
    left: 80px;
    background-color: #FD7401;
}

#username{
    position:relative;
    width: 410px;
    height: 50px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #F1F3F6;
    top: 100px;
    right: 280px;
    
}

#password{
    position:relative;
    width: 410px;
    height: 50px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #F1F3F6;
    top: 100px;
    right: 280px;
}

#confirmpassword{
    position:relative;
    width: 410px;
    height: 50px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #F1F3F6;
    top: 100px;
    right: 280px;
}

#phonenumber{
    position:relative;
    width: 410px;
    height: 50px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #F1F3F6;
    top: 100px;
    right: 280px;
}


.form-group input::placeholder {
    font-size: 16px;
}

.form-group label {
    position:relative;
    top: 90px;
    right: 280px;
    display: block;
    margin-bottom: 5px;
}

.signup_btn{
    position:relative;
    height: 50px;
    margin: 30px;
    top: 40px;
    right: 310px;
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    padding: 10px;
    background-color: #FD7401;
    color: white;
    border: 1px solid #FD7401 ;
    border-radius: 5px;
    cursor: pointer;
}

.horizon1 {
    position: relative;
    border: none;
    border-top: 2px solid #ccc;
    width: 170px;
    right: 400px;
    top: 46px;  
}

h2{
    font-size: 14px;
    white-space: nowrap;
    color: #ccc;
    position:relative;
    top: 22px;
    right: 90px;
}

.horizon2 {
    position: relative;
    border: none;
    border-top: 2px solid #ccc;
    width: 170px;
    right: 170px;
    padding: 10px;
}

.login_btn{
    position:relative;
    height: 50px;
    top: 20px;
    right: 280px;
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    padding: 10px;
    background-color: white;
    color: #FD7401;
    border: 1px solid #FD7401 ;
    border-radius: 5px;
    cursor: pointer;
}

.base {
    position:relative;
    width: 1273px; 
    height: 1000px;
    right: 230px;
}

.bell{
    position:relative;
    bottom:380px;
    right: 1930px;
    width: 58px;
    height: 58px;  
}

.dnow{
    position:relative;  
    bottom:380px;
    right:1920px;
    width: 265px; 
    height: 81px; 
}

.logo{
    position:relative;
    bottom:450px;
    right:740px;
    width: 200px;
    height: 69px;
}

.face-id{
    position:relative;
    bottom: 237px;
    right:2134px;
    width: 24px;
    height: 24px;
}

.lock{
    position:relative;
    bottom: 108px;
    right: 2111px;
    height: 24px;
    width: 24px;
}

.check{
    position:relative;
    top: 22px;
    right: 2157px;
    height: 24px;
    width: 24px;
}

.telephone{
    position:relative;
    top: 150px;
    right: 2183px;
    height: 24px;
    width: 24px;    
}